*.bin
*.elf
*.map
*.o
*.tar.gz
*.zip
*.xml
*.hex
*.pbxproj
*.cogui
*.comarker
STM32F103/cmsis/*
STM32F103/cmsis_boot/*
STM32F103/stm_lib/*
STM32F103/usb_hid/*
STM32F103/irmp/*
STM32F103/IR/*
STM32F103/ext_src/*
STM32F105/cmsis/*
STM32F105/cmsis_boot/*
STM32F105/stm_lib/*
STM32F105/usb_hid/*
STM32F105/irmp/*
STM32F105/ext_src/*
STM32F105/IR/*
.gitignore
.gitattributes
